/*
Defaults

default variables

Styleguide 0.2
*/


/*
Colours

Markup: <div style="background-color:{$modifiers}">{$modifiers}</div>

$clr-error						- $clr-error
$clr-warning					- $clr-warning
$clr-success					- $clr-success
$clr-info						- $clr-info
$clr-danger						- $clr-danger;
$core-body-copy-color			- $core-body-copy-color
$clr-primary 					- $clr-primary
$contrasted-dark-default		- $contrasted-dark-default
$contrasted-light-default		- $contrasted-light-default

Styleguide 0.2.1
*/

$clr-error						:#ce4844 !default;
$clr-warning					:#c29a17 !default;
$clr-success					:#17ba4d !default;
$clr-info						:#037cda !default;
$clr-danger						:#ce4844 !default;
$core-body-copy-color			:#333 !default;
$clr-primary 					:#ff0000 !default;
$contrasted-dark-default		:#000000 !default;
$contrasted-light-default		:#ffffff !default;

/*
Settings

Markup: <div>{$modifiers}</div>

$debug 							- $debug
$prefer-flexbox					- $prefer-flexbox
$images 						- $images

Styleguide 0.2.2
*/
$debug 							:false !default;
$prefer-flexbox					:true !default;
$images 						:"images" !default;

/*
Typography

Markup: <div>{$modifiers}</div>

$base-font-family - $base-font-family
$base-font-size - $base-font-size
$base-font-base	 - $base-font-base		
$base-line-height - $base-line-height
$site-width - $site-width 

Styleguide 0.2.3
*/
$base-font-family				:$sans-font-family !default;
$base-font-size					:100 !default;
$base-font-base					:16 * ($base-font-size/100) !default;

$base-line-height				:1.65 !default;
$site-width 					:1080px !default;

//$alt-colour-classnamne			:false !default;
//$navigation-layout				:"top" !default;
//$base-unit						:rem !default;
//$max-line-length				:false !default;
//$util-hide-classname			:"hidden" !default;
//$use-owl-selector 				:false !default;
//$base-margin					:1.5rem !default;
//
//$gutter-width 					:2em !default;
//$button-defaults:
//(
//	background			:green,
//	color				:#fff
//) !default;
//$clr-secondary 					:blue !default;
//$core-heading-color				:#222 !default;
//$base-background-color			:#fff !default;
// Breakpoints
//$bp-xs							:100px !default;
//$bp-sm							:415px !default;
//$bp-md							:668px !default;
//$bp-lg							:769px !default;
//$bp-xl							:1025px !default;
//$breakpoints					:(xs :$bp-xs, sm :$bp-sm, md :$bp-md, lg :$bp-lg, xl :$bp-xl) !default;
//$the_breakpoints				:(xs, sm, md, lg, xl) !default;
//
//$base-heading-font-family		:$base-font-family !default;
//$base-font-weight				:normal !default;
//$base-measure					:$base-font-base * $base-line-height !default;
//$base-indent-val				:1.5em !default;
//$base-measure					:$base-font-base * $base-line-height;
