@import "../_vars";

/*
Example

Styleguide 2.0
*/
#body {
    font: 100% $font-main;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
}

/*
Headings

h1, h2, h3, h4, h5

Markup: <h1>heading</h1> <h2>heading</h2> <h3>heading</h3> <h4>heading</h4> <h5>heading</h5>

Styleguide 2.1.0
*/

h1 {
    color: $color-red;
}
