<nav role="navigation" class="page__nav" data-position="right" data-reveal-type="push">
	<ul class="nav-menu">
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">Home</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">News</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">Media</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">About</a>
		</li>
	</ul>
	<button class="page__nav-close">Close</button>
</nav>

<nav role="navigation" class="page__nav" data-position="left" data-reveal-type="push">
	<ul class="nav-menu">
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">Home</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">News</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">Media</a>
		</li>
		<li class="nav-menu__item">
			<a class="nav-menu__link" href="">About</a>
		</li>
	</ul>
	<button class="page__nav-close">Close</button>
</nav>
