a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  text-decoration: underline;
}

th.pseudo-class-empty,
td.pseudo-class-empty {
  border: 0;
}

thead
tr.pseudo-class-last-child
th {
  border-bottom-width: 2px;
}

tbody
> tr.pseudo-class-hover {
  background-color: #ccc;
}

abbr[title].pseudo-class-hover {
  cursor: help;
}

dfn[title].pseudo-class-hover {
  cursor: help;
}

label.pseudo-class-empty {
  display: none;
}

input[type="text"].pseudo-class-active,
input[type="text"].pseudo-class-focus,
input[type="email"].pseudo-class-active,
input[type="email"].pseudo-class-focus,
input[type="password"].pseudo-class-active,
input[type="password"].pseudo-class-focus,
input[type="search"].pseudo-class-active,
input[type="search"].pseudo-class-focus,
input[type="color"].pseudo-class-active,
input[type="color"].pseudo-class-focus,
input[type="date"].pseudo-class-active,
input[type="date"].pseudo-class-focus,
input[type="datetime"].pseudo-class-active,
input[type="datetime"].pseudo-class-focus,
input[type="datetime-local"].pseudo-class-active,
input[type="datetime-local"].pseudo-class-focus,
input[type="month"].pseudo-class-active,
input[type="month"].pseudo-class-focus,
input[type="number"].pseudo-class-active,
input[type="number"].pseudo-class-focus,
input[type="tel"].pseudo-class-active,
input[type="tel"].pseudo-class-focus,
input[type="time"].pseudo-class-active,
input[type="time"].pseudo-class-focus,
input[type="url"].pseudo-class-active,
input[type="url"].pseudo-class-focus,
input[type="week"].pseudo-class-active,
input[type="week"].pseudo-class-focus,
input[list].pseudo-class-active,
input[list].pseudo-class-focus,
input[type="file"].pseudo-class-active,
input[type="file"].pseudo-class-focus,
select.pseudo-class-active,
select.pseudo-class-focus,
textarea.pseudo-class-active,
textarea.pseudo-class-focus {
  cursor: text;
  outline: none;
}

input[type="range"].pseudo-class-focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}

input[type="range"].pseudo-class-focus::-ms-fill-lower {
  background: #ac51b5;
}

input[type="range"].pseudo-class-focus::-ms-fill-upper {
  background: #ac51b5;
}

input[type="text"].pseudo-class-hover,
input[type="email"].pseudo-class-hover,
input[type="password"].pseudo-class-hover,
input[type="search"].pseudo-class-hover,
input[type="color"].pseudo-class-hover,
input[type="date"].pseudo-class-hover,
input[type="datetime"].pseudo-class-hover,
input[type="datetime-local"].pseudo-class-hover,
input[type="month"].pseudo-class-hover,
input[type="number"].pseudo-class-hover,
input[type="tel"].pseudo-class-hover,
input[type="time"].pseudo-class-hover,
input[type="url"].pseudo-class-hover,
input[type="week"].pseudo-class-hover,
input[list].pseudo-class-hover,
input[type="file"].pseudo-class-hover,
select.pseudo-class-hover,
textarea.pseudo-class-hover,
textarea.pseudo-class-hover,
select.pseudo-class-hover,
option.pseudo-class-hover,
button.pseudo-class-hover {
  background-color: #e8eaeb;
  border-color: #cfd0d2;
}

input[type="text"].pseudo-class-focus,
input[type="email"].pseudo-class-focus,
input[type="password"].pseudo-class-focus,
input[type="search"].pseudo-class-focus,
input[type="color"].pseudo-class-focus,
input[type="date"].pseudo-class-focus,
input[type="datetime"].pseudo-class-focus,
input[type="datetime-local"].pseudo-class-focus,
input[type="month"].pseudo-class-focus,
input[type="number"].pseudo-class-focus,
input[type="tel"].pseudo-class-focus,
input[type="time"].pseudo-class-focus,
input[type="url"].pseudo-class-focus,
input[type="week"].pseudo-class-focus,
input[list].pseudo-class-focus,
input[type="file"].pseudo-class-focus,
select.pseudo-class-focus,
textarea.pseudo-class-focus,
textarea.pseudo-class-focus,
select.pseudo-class-focus,
option.pseudo-class-focus,
button.pseudo-class-focus {
  background-color: #ffffff;
  border-color: #cfd0d2;
}

input[type="checkbox"].pseudo-class-focus,
input[type="radio"].pseudo-class-focus {
  outline: 0;
}

button.pseudo-class-hover,
button.pseudo-class-focus,
input[type="button"].pseudo-class-hover,
input[type="button"].pseudo-class-focus,
input[type="submit"].pseudo-class-hover,
input[type="submit"].pseudo-class-focus,
input[type="reset"].pseudo-class-hover,
input[type="reset"].pseudo-class-focus {
  background-color: #cfd0d2;
  color: #333;
}